<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bimangle.ForgeEngine.Common" version="1.8.6" targetFramework="net48" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net48" />
  <package id="Revit.IFC.IFCExportUIOverride" version="2024.2.0.4" targetFramework="net48" />
  <package id="Revit_API_x64" version="2022.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net48" />
</packages>